<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>354220606828-8astrjpn0g5t1n8ltli1l3scgb0kr3j8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.354220606828-8astrjpn0g5t1n8ltli1l3scgb0kr3j8</string>
	<key>API_KEY</key>
	<string>AIzaSyDK-TBNXT4HYmHpWQOoiBMkO-JCI1AYERw</string>
	<key>GCM_SENDER_ID</key>
	<string>354220606828</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SwiftUIMvvmArch</string>
	<key>PROJECT_ID</key>
	<string>swiftsociallogin-acc4e</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftsociallogin-acc4e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:354220606828:ios:ee01be25546b31fbb5df49</string>
</dict>
</plist>